<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message| %>
        <%= content_tag(:div, message) %>
      <% end %>
      <%= yield %><br>
      <%= link_to "Log in", root_path %>
      <%= link_to "Posts", posts_path %>
      <%= link_to "New Post", new_post_path %><br>
      logged in: <%= logged_in? %>
    </div>
  </body>
</html>
